<app-header [title]="'Criar Taxa'"></app-header>

<form class="p-5" #editTaxForm="ngForm" (ngSubmit)="submitTax()">
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="name" ngModel #nameControl="ngModel" required>
        <mat-error *ngIf="(nameControl.errors ?? {})['required']">O nome é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>descricao</mat-label>
        <input matInput type="text" name="description" ngModel #descriptionControl="ngModel" required>
        <mat-error *ngIf="(descriptionControl.errors ?? {})['required']">A descricao é obrigatória!</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="editTaxForm.invalid">criar</button>
</form>