<h1>Criar producto</h1>

<button type="button">geral</button>
<button type="button">compra</button>
<button type="button">armazem</button>

<br>
<br>

<form>
    <div>
        <label for="name">nome</label>
        <input type="text" id="name">
    </div>

    <br>

    <div>
        <label for="price">preco</label>
        <input type="number" id="price">
    </div>

    <br>

    <div>
        <label for="taxt">taxa</label>
        <select id="tax">
            <option>tax1</option>
            <option>tax2</option>
            <option>tax3</option>
        </select>
    </div>

    <br>

    <button type="submit">criar</button>
</form>