<main class="pb-14">
    <router-outlet></router-outlet>
</main>

<footer>
    <mat-toolbar class="fixed bottom-0" color="primary">
        <mat-toolbar-row class="flex justify-center">
            <div>
                <button mat-icon-button [mat-menu-trigger-for]="addMenu"><mat-icon>add</mat-icon></button>

                <mat-menu #addMenu="matMenu">
                    <button mat-menu-item routerLink="/contabilidade/criar-taxa">Criar Taxa</button>
                    <button mat-menu-item routerLink="/contabilidade/despesa">despesa</button>
                    <button mat-menu-item routerLink="/contabilidade/compra">Comprar</button>
                    <button mat-menu-item routerLink="/contabilidade/compra/faturas">faturar</button>
                    <button mat-menu-item routerLink="/contabilidade/venda/fatura">vender</button>
                    <button mat-menu-item routerLink="/contabilidade/diario">diario</button>
                </mat-menu>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</footer>
