<h1 mat-dialog-title>categoria</h1>

<div mat-dialog-content>
    <mat-selection-list [multiple]="false" [(ngModel)]="selectedOption">
        <mat-list-option *ngFor="let purchaseType of purchaseTypes" [value]="purchaseType">
            <mat-icon matListItemIcon>folder</mat-icon>
            <div matListItemTitle>{{ purchaseType }}</div>
            <div matListItemLine>descricao</div>
        </mat-list-option>
    </mat-selection-list>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" class="block m-auto" [mat-dialog-close]="selectedOption" [disabled]="!selectedOption">ok</button>
</div>
