<app-header [title]="'despesa'"></app-header>

<form class="p-5" [formGroup]="expenseFormGroup">
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="(expenseFormGroup.controls.name.errors ?? {})['required']">o nome é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
        <mat-label>fornecedor</mat-label>
        <mat-select formControlName="supplier">
            <mat-option *ngFor="let supplier of suppliers" [value]="supplier">{{ supplier }}</mat-option>
        </mat-select>
        <mat-error *ngIf="(expenseFormGroup.controls.supplier.errors ?? {})['required']">o nome é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
        <mat-label>preço</mat-label>
        <input matInput type="number" formControlName="price">
        <mat-error *ngIf="(expenseFormGroup.controls.price.errors ?? {})['required']">o preco é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
        <mat-label>estado</mat-label>
        <mat-select formControlName="state">
            <mat-option *ngFor="let tax of taxes" [value]="tax">{{ tax.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="(expenseFormGroup.controls.state.errors ?? {})['required']">o estado é obrigatório</mat-error>
    </mat-form-field>

    <div class="mb-5">
        <input type="file" (change)="selectProofImage($event)">
        <img [src]="proofPreviewImage" *ngIf="proofPreviewImage" class="mt-5" width="350px">
    </div>

    <button type="submit" mat-raised-button color="primary" (click)="submitExpense()" [disabled]="expenseFormGroup.invalid">criar</button>
</form>
