<h1>criar conta</h1>

<form (ngSubmit)="submitAccount()" class="p-5">
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>classe</mat-label>
        <mat-select name="category">
            <mat-option value="">test</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
        <mat-label>código</mat-label>
        <input matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nome</mat-label>
        <input matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Conta mãe</mat-label>
        <mat-select name="parentAccount">
            <mat-option [value]="account.id" *ngFor="let account of accounts">{{ account.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit">criar</button>
</form>