<h1>criar conta</h1>

<form (ngSubmit)="submitAccount()" class="p-5" #editAccountForm="ngForm">
    <mat-form-field appearance="outline" class="w-full">
        <mat-label>classe</mat-label>
        <mat-select name="categoryId" ngModel #categoryControl="ngModel" required>
            <mat-option value="g">test</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
        <mat-label>código</mat-label>
        <input matInput type="text" name="code" ngModel #codeControl="ngModel" required>
        <mat-error *ngIf="codeControl.invalid">{{ getCodeControlErrorMessage(codeControl) }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="name" ngModel #nameControl="ngModel" required>
        <mat-error *ngIf="(nameControl.errors ?? {})['required']">O nome é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
        <mat-label>Conta mãe</mat-label>
        <mat-select name="parentAccount" ngModel #accountControl="ngModel" required>
            <mat-option [value]="account.id" *ngFor="let account of accounts">{{ account.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="(accountControl.errors ?? {})['required']">A Conta mãe é obrigatória</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="editAccountForm.invalid">criar</button>
</form>