<app-header [title]="'faturar'"></app-header>

<div class="p-5" [formGroup]="supplierFormGroup">
    <ng-template #noInvoiceAlert>
        <p class="text-center">sem facturas</p>
    </ng-template>

    <mat-accordion formArrayName="invoiceFormArray" *ngIf="invoiceFormArray.length > 0; else noInvoiceAlert">
        <mat-expansion-panel *ngFor="let invoice of invoiceFormArray.controls; let i = index" [formGroupName]="i"
            [expanded]="step === i" (opened)="setStep(i)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ invoice.value.supplier.name }}
                </mat-panel-title>

                <mat-panel-description>
                    {{ invoice.value.category.name }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="pt-5">
                <table class="table" *ngIf="false">
                    <thead>
                        <tr>
                            <th>nome</th>
                            <th>fornecedor</th>
                            <th>preco</th>
                            <th>quantidade</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let product of []">
                            <td data-label="nome">{{ "nome" }}</td>
                            <td data-label="fornecedor">{{ "fornececor" }}</td>
                            <td data-label="preco">{{ "preco" }}</td>
                            <td data-label="quantidade">{{ "quantidade" }}</td>
                        </tr>
                    </tbody>
                </table>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>codigo da fatura</mat-label>
                    <input matInput type="text" formControlName="invoiceCode">
                    <mat-error *ngIf="(invoice.get('invoiceCode')?.errors ?? {})['required']">o codigo é
                        obrigatorio</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>valor a pagar</mat-label>
                    <input matInput type="number" formControlName="totalToPay">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>metodo de pagamento</mat-label>
                    <mat-select formControlName="paymentMethod">
                        <mat-option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod">{{ paymentMethod.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="invoice.get('paymentMethod')?.hasError('required')">o metodo de pagamento é obrigario</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>custos adicionais</mat-label>
                    <input matInput type="number" formControlName="additionalCosts">
                </mat-form-field>

                <div class="mb-5">
                    <input type="file" (change)="selectProofImage($event)">
                    <img [src]="proofPreviewImage" *ngIf="proofPreviewImage" class="mt-5" width="350px">
                </div>

                <button mat-raised-button color="primary" (click)="finishInvoice(invoice.value)"
                    [disabled]="invoice.invalid">finalizar</button>
            </div>

            <mat-action-row *ngIf="invoiceFormArray.length > 1">
                <button mat-button color="primary" (click)="prevStep()" *ngIf="step > 0">voltar</button>
                <button mat-button color="primary" (click)="nextStep()"
                    *ngIf="step >= 0 && step < invoiceFormArray.length - 1">
                    avancar
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>